#shopb{width:100%;height: 70px;background:#F2F2F2;border-bottom:1px solid #E4E4E4;
border-top: 1px solid #E4E4E4; }
#shopb #center1{width:1200px;height:70px;margin:auto;}
#shopb #center1 .shop_left{width: 165px;background:url(../images/logo.png) no-repeat  left center;
float: left;height:70px;}
#shopb #center1 .shop_right{width: 505px;height: 40px;float:right;margin-top:25px; }
.shop_right .right_s{width: 100%;height: 5px;background:#FF4266;}
.shop_right .right_x{width: 100%;height: 35px;position:relative;}
.shop_right .right_x li{float: left;font-size:14px;}
.shop_right .right_x li a{margin-right:115px;color: #A5A2A0;line-height:50px;}
.shop_right .right_x .yuan1{height:20px;width:20px;background:#FF4266;border-radius:50%; 
border:1px solid #FF4266;position:absolute;left:0;top:-13px;text-align:center;color:#fff;
line-height:20px;}
.shop_right .right_x .yuan2{height:20px;width:20px;background:#FF4266;border-radius:50%; 
border:1px solid #FF4266;position:absolute;left:170px;top:-13px;text-align:center;color:#fff;
line-height:20px;}
.shop_right .right_x .yuan3{height:20px;width:20px;background:#FF4266;border-radius:50%; 
border:1px solid #FF4266;position:absolute;left:325px;top:-13px;text-align:center;color:#fff;
line-height:20px;}
.shop_right .right_x .yuan4{height:20px;width:20px;background:#FF4266;border-radius:50%; 
border:1px solid #FF4266;position:absolute;left:485px;top:-13px;text-align:center;color:#fff;
line-height:20px;}
main{width:100%;height:1130px;background:#fff;}
main #center{margin:auto;height:1130px;width:1200px;}
main #center .c_list{height: 43px;width:400px;margin-top:25px;}
main #center .c_list li{float:left;width:80px;margin-right:20px;
border-bottom:3px solid #fff;}
main #center .c_list li:nth-child(1){border-bottom:3px solid #FF4266;
margin-right:55px;}
main #center .c_list li:nth-child(2){width:40px;margin-right:55px;}
main #center .c_list li a{color:#FF4266;font-size:20px;line-height:40px;
text-align:center;}
main #center .c_list li:hover{border-bottom:3px solid #FF4266;}
main #center .k1{width:100%;height:70px;background:#F2F2F2;border-bottom:1px solid #E4E4E4;
border-top: 1px solid #E4E4E4;}
.k1 .k1_left{float: left;width: 60px;height: 40px;font-size: 12px;line-height:70px;}
.k1 .k1_left #put1{width: 15px;height: 15px;margin-left:10px; }
.k1 .k1_right{width: 400px;height: 70px; float: right;}
.k1 .k1_right li{width: 80px;height: 70px;float: left;text-align: center;}
.k1 .k1_right li a:hover{color: #FF4266;}
.k1 .k1_right li a{color:#333333;font-size: 12px;line-height: 70px;}
main #center .titl1{width: 100%;height: 20px;margin-top:30px;}
#put2{width: 15px;height: 15px;margin-left: 10px;}
main #center .titl1 a{color: #333333;font-size: 12px;font-weight:bold;}
main #center .titl1 a:hover{text-decoration:underline; }
main #center #content1{width: 100%;height: 120px;border:1px solid #F1F1F1;
margin-top: 15px;position: relative;}
main #center #content1 #put3{width: 15px;height: 15px;margin-left: 10px;}
main #center #content1 .sx0{width: 18px;height: 18px;float: left;margin-top:10px; 
margin-right: 30px;}
main #center #content1 #sd{width:150px;height:150px;position:absolute;top:10px;left:128px;  
display:none;}
main #center #content1 .sx1{width:100px;height:100px;background:url(../images/shop1.jpg)
no-repeat;float: left; line-height:115px;margin-top:10px;margin-right:12px; }
main #center #content1 .sx11{width:100px;height:100px;background:url(../images/shop2.jpg)
no-repeat;float: left; line-height:115px;margin-top:10px;margin-right:12px; }
main #center #content1 .sx22{width:100px;height:100px;background:url(../images/shop3.jpg)
no-repeat;float: left; line-height:115px;margin-top:10px;margin-right:12px; }
main #center #content1 .sx33{width:100px;height:100px;background:url(../images/shop4.jpg)
no-repeat;float: left; line-height:115px;margin-top:10px;margin-right:12px; }
main #center #content1 .sx55{width:100px;height:100px;background:url(../images/shop5.jpg)
no-repeat;float: left; line-height:115px;margin-top:10px;margin-right:12px; }
main #center #content1 .sx1:hover #sd.img{display: block;}
main #center #content1 .sx2{width: 625px;height: 15px;float: left;margin-top:5px;
margin-right:20px;  }
#content1 .sx2 a{font-size: 12px;margin-top:10px;color:#333333;}
#content1 .sx2 a:hover{text-decoration:underline; }
#content1 .sx3{width:85px;height:30px;float:left;color: #999;font-size:12px;
margin-top:10px;}
#content1 .sx4{width:40px;height:55px;float: left;margin-left:30px;margin-top:10px; }
#content1 .sx4 dt a{font-size: 12px;text-decoration:line-through;color: #999;}
#content1 .sx4:nth-of-type(2){color:#333333;font-size:12px;}
#content1 .sx4 dd:nth-of-type(2){color:#FF4266;font-size:12px;}
#content1 #sx4{width: 96px;height: 25px;float: left;margin-left:35px;margin-top:10px;
border:1px solid #EDEDED;  }
#content1 #sx4 li{float: left;}
#content1 #sx4 li:nth-child(1){width:25px;height:25px;border-right:1px solid #EDEDED; 
text-align: center;line-height:25px;font-size: 20px;color:#CACACA;  }
#content1 #sx4 li:nth-child(2){width:44px;height:25px;border-right:1px solid #EDEDED;
font-size:16px;color:#333333;text-align: center;line-height:25px;}
#content1 #sx4 li:nth-child(3){width:25px;height:25px;font-size: 20px;color:#CACACA;
text-align: center;line-height:25px;}
#content1 .sx5{width:40px;height:15px;color:#FF4266;font-size:16px;float: left;
margin-left:25px;margin-top:12px; }
#content1 .sx6{width:40px;height:15px;color:#333333;font-size:12px;float: left;
margin-left:25px;margin-top:12px; }
#btom{width: 100%;height: 50px;border:1px solid #E4E4E4;margin-top:22px;}
main #center #put4{width: 15px;height: 15px;margin-left: 10px;margin-top:15px;
margin-right:30px;  }
#btom #b_list{width: 375px;height: 30px;line-height:30px;float: left;}
#btom #b_list li{float:left;}
#btom #b_list li a{height:30px;margin-top:10px;font-size:12px;display:block;
text-align: center;color:#333333;margin-right:30px;line-height: 30px; }
#btom #b_list li a:hover{color:#FF4266;}
#btom #b_list2{height: 50px;width: 409px;float: right;}
#btom #b_list2 li{float: left;margin-left:29px;}
#btom #b_list2 li:nth-child(1){font-size: 12px;text-align: center;}
#btom #b_list2 li #b_s1{font-size:12px;color:#FF4266;line-height:50px; }
#btom #b_list2 li:nth-child(2){font-size: 12px;text-align: center;}
#btom #b_list2 li #b_s2{font-size:22px;color:#FF4266;line-height:46px; }
#btom #b_list2 li:nth-child(3){font-size:22px;text-align: center;width:152px;
height:50px;background:#FF4266;color:#fff;line-height:50px;}